.container {
    margin: 0px;
    width: 100%;
    max-height: 900px;
    height:auto;
    min-height: 40vh;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(1rem, 5vw, 50px) clamp(1rem, 5vw, 80px) clamp(1rem, 10vw, 100px) clamp(1rem, 5vw, 80px);
    box-sizing: border-box;
    gap:2rem;
}

.container img {
    align-self: center;
    width: 40vw;
    min-width:400px;
    height: auto;
    object-fit: contain; 
    display: block;
}

.welcome {
    font-family:'Inter';
    top: 40px; /* distance from bottom edge */
    color: black;
    font-size: 40px;
    pointer-events: none;
    margin: 0px;
}

@media (max-width: 576px) {
    .welcome {
      text-align: center;
      align-self: center;
      font-size: 30x; /* optional: scale down for smaller screens */
      margin-top: 20px; /* optional: add spacing */
    }
  }